AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_ENDPOINT=''
AZURE_OPENAI_API_VERSION=2024-12-01-preview

AZURE_GPT4O_DEPLOYMENT=gpt-4o
AZURE_GPT4O_MINI_DEPLOYMENT=gpt-4o-mini
AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-large

TAVILY_API_KEY=""